r  /*Home Page */
html{
  margin: 40px;
}
body{
background-color: black;
}
/* Body Background */
#home_background{
  background-image: url('home_photo.jpg.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
  width: 100%;
}
#Header{
  text-align: center;
  font-size: 60px;
  font-family: Chathura;
  border-style: double;
  border-color: white;

}
.home_name{
  color: #b38600;
  font-size: 90px;
  border-style: double;
  border-color: #b38600;
  text-align: center;

 }
 a{
   text-decoration: none;
   color: white;
 }

.nav{

  font-size: 20px;
  text-align: center;
}
footer {
    text-align: center;
    font-size: 100%;
    color: white;
    border-style: double;
    border-color: white;


}
  /*About Me Page*/
  text {
    font-size: 20px;
    text-align: left;
    color: white;
    background-color: black;
    text-align: left;
  }
  /* Looks Page */

  #containers{
    width: 100%;
    border-bottom: 5px solid white;
    color: white;
    font-size: 40px;
    font-family: Cinzel Decorative;
    text-align: center;
    padding: 50px;
    float: center;
    margin: 50%,0,0,50%;
  }

.images{
  width: 30%;
  height: 30%;
  border: 10px solid white;
}
