<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
body {
  background-color: white;
}
nav{
  font-family: lobster;
  font-size: 50px;
background-color: pink;
border-top-style: solid;
border-left-color: black;
}
.home-background {
  background-color: gray;
}
#button {
background-color: yellow;
border-radius: 50%;
width: 30px;
height: 30px;

}
.input-box {
  border-radius: 10%;
  border-color: gray;

}
#home-images {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: sticky;
  text-align: center;

}
footer{
  background-color: lightgray ;
}
