
body {
  background-color: white;
}
nav{
  align-content: 
  font-size-adjust: auto;
  font-family: monospace;
background-color: pink;
border-top-style: solid;
border-left-color: black;
font-size: 25px;
}
.home-background {
  background-color: gray;
}
#button {
background-color: yellow;
border-radius: 50%;
width: 30px;
height: 30px;

}
.input-box {
  border-color: gray;

}
.home-images {
  border-radius: 50%;
  border-color: black;
  height: 300px;
  width: 300px;
}
footer{
  background-color: lightgray ;
}
