html {
  font-size:  3em;
  scroll-behavior: smooth;
}
.main-header {
  background:  #BC8F8F;

}
/* Header*/
.name-main-header {
  padding: 30px;
  display: in;
  text-align: center;
}
/* Main container keeps content centered */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
button.nav1 {
   background-color:  ##b59190;
  border-width:medium;
  border-radius: 10px;
  font-size: .5em;
  font-family: 'courier';
}
button.nav2 {
  background-color:  ##b59190;
  border-width:medium;
  border-radius: 10px;
  font-size: .5em;
  font-family: 'courier';
}

button.nav3 {
  background-color:  ##b59190;
  border-width:medium;
  border-radius: 10px;
  font-size: .5em;
  font-family: 'courier';
}

.nav-buttons {
  text-align: center;
}
.p1{
  text-align: center;
}
h2-skills {
 text-align: center;
}
img {
    width: 50%;
    border-radius: 510px;
    align-content: center;
    border: solid 5px;
}
    
/* Mobile adjustments */ @media (max-width: 600px) { header { padding: 25px 10px; } .container { padding: 15px; } }







