@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
html {
  font-size:  3em;
}
.main-header {
  background:  #BC8F8F;

}
/* Header*/
.name-main-header {
  padding: 30px;
  display: in;
  text-align: center;
}
button.nav1 {
   background-color:  ##b59190;
  border-width:medium;
  border-radius: 10px;
  font-size: .5em;
  font-family: 'courier';
}
button.nav2 {
  background-color:  ##b59190;
  border-width:medium;
  border-radius: 10px;
  font-size: .5em;
  font-family: 'courier';
}
button.nav3 {
  background-color:  ##b59190;
  border-width:medium;
  border-radius: 10px;
  font-size: .5em;
  font-family: 'courier';
}
.nav-buttons {
  text-align: center;
}
.p1{
  text-align: center;
}
.nav-buttons {
  
}
img {
    width: 50%;
    border-radius: 510px;
    align-content: center;
    border: solid 5px;
}
    
.profilepic {
      text-align: center;
  }

  #webdev-section {
    text-wrap: nowrap;
    background-color: #BC8F8F;
    font-size: 1em;

}